.text-justify{
    text-align: justify;
    text-justify: inter-word;
}
.p-0{
    padding: 0px;
}
.m-0{
    margin: 0px;
}
.font-size-1{
    font-size: x-small !important;
}
.font-size-2{
    font-size:smaller !important; 
}
.font-size-3{
    font-size:small !important;
}
.font-size-4{
    font-size: medium !important;
}
.font-size-5{
    font-size: large !important;
}
.font-size-6{
    font-size: x-large !important;
}
.font-size-7{
    font-size: xx-large !important;
}

.logo{
    display: flex;
    width: 100%;
}