* {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #F5F7F8 !important;
}

.container-xsm {
    max-width: 750px;
}

.c-semi-black {
    color: #37352ff6 !important;
}

.c-semi-black-2 {
    color: #37354A !important;
}

.font-custom {
    font-size: 0.95em;
}

.fs-7 {
    font-size: 15px;
    ;
}


.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}